* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.carousel-item img {
  height: 50vh;
  object-fit: cover;
}